<article class="card">
    <img src="{{flag}}" alt="{{name}}" class="card__image" />
    <div class="card__content">
        <h2 class="card__name">{{name}}</h2>
        <p class="infoName">Capital:<span class="infoContent">{{capital}}</span></p>
        <p class="infoName">Population:<span class="infoContent">{{population}}</span></p>
        <p class="infoName">Languages:
            {{#each languages}}
            <li class="infoContent">{{name}}</li>
            {{/each}}
        </p>
</article>